{% extends "base.html" %} {% block content %}

<section id="content">
	<div class="container">
		<div class="block-header">
			<h2>资讯</h2>
		</div>

		<div class="card c-timeline" id="profile-main">
			<div class="pm-overview c-overflow" id="leftart">
				<div class="pmo-pic">
					<div class="p-relative">
						<a href="javascript:;">
							<img class="img-responsive" src="{{ url_for('static', filename='img/profile-pics/profile-pic-2.jpg') }}" alt="" id="changeArtcFM">
						</a>

						<a href="javascritp:;" class="pmop-edit" data-target="#myModal" data-toggle="modal" onclick="changeArtcFMfun()">
							<i class="zmdi zmdi-camera"></i> <span class="hidden-xs">更改文章封面</span>
						</a>
					</div>

				</div>

				<div class="pmo-block pmo-contact ">
					<!--hidden-xs-->
					<ul>
						<li><i class="zmdi zmdi-view-toc"></i>
							<span id="Instruction">看得见远方，才追得上路人</span>

						</li>
						<div class="input-group m-b-10">
							<span class="input-group-addon"><i class="zmdi zmdi-view-toc"></i></span>
							<div class="fg-line">
								<input type="text" class="form-control" placeholder="看得见远方，才追得上路人" id="InstructionEdit">
							</div>
						</div>
						<li><i class="zmdi zmdi-assignment"></i><span id="articleType">每日芝士</span></li>
						<div class="input-group m-b-10">
							<span class="input-group-addon"><i class="zmdi zmdi-assignment"></i></span>
							<div class=" fg-line">
								<select class="form-control" id="articleTypeEdit">
									<option value="DAILY_CHEESE">每日芝士</option>
									<option value="EXAMINATION_ROAD">自考路上</option>
									<option value="SIGN_UP_INFO">报考讯息</option>
									<option value="OFFICIAL_NEWS">新闻看点</option>
									<option value="COMMEN_QUESTION">常见问题</option>

								</select>
							</div>
						</div>
						<li><i class="zmdi zmdi-account-circle"></i>
							<span id="AuthorLook">小袋</span></li>
						<div class="input-group m-b-10">
							<span class="input-group-addon"><i class="zmdi zmdi-account-circle"></i></span>
							<div class="fg-line">
								<input type="text" class="form-control" placeholder="小袋" id="Author">
							</div>
						</div>
						<li><i class="zmdi zmdi-time"></i>
							<span id="createTime">2014年2月13日 23:23</span></li>
						<div class="input-group m-b-10">
							<span class="input-group-addon"><i class="zmdi zmdi-time"></i></span>
							<div class="fg-line">
								<input type="text" class="form-control" placeholder="2014年2月13日 23:23" id="datetimepicker1">
							</div>
						</div>
						<li><i class="zmdi zmdi-time"></i>
							<span id="expiredAt">2014年2月13日 23:23</span></li>
						<div class="input-group m-b-10">
							<span class="input-group-addon"><i class="zmdi zmdi-time"></i></span>
							<div class="fg-line">
								<input type="text" class="form-control" placeholder="2014年2月13日 23:23" id="datetimepicker2">
							</div>
						</div>
						<li><i class="zmdi zmdi-view-toc"></i>
							<span id="province">全部</span>
						</li>
						<div class="input-group m-b-10">
							<span class="input-group-addon"><i class="zmdi zmdi-view-toc"></i></span>
							<div class="fg-line">
								<select class="form-control" id="ProvinceSelect">

								</select>
							</div>
						</div>
						<li><i class="zmdi zmdi-view-toc"></i>
							<span id="major">全部</span>
						</li>
						<div class="input-group m-b-10">
							<span class="input-group-addon"><i class="zmdi zmdi-view-toc"></i></span>
							<div class="fg-line">
								<select class="form-control" id="MajorSelect">

								</select>
							</div>
						</div>
						<!--<li><i class="zmdi zmdi-thumb-up"></i> <span>2032</span></li>
								<li><i class="zmdi zmdi-eye"></i><span> 20322</span></li>-->
					</ul>

				</div>

			</div>

			<div class="pm-body clearfix">

				<div class="timeline">

					<div class="t-view" data-tv-type="image">
						<!--<div class="tv-header media">
									<a href="" class="tvh-user pull-left">
										<img class="img-responsive" src="img/profile-pics/profile-pic-2.jpg" alt="">
									</a>
									<div class="media-body p-t-5">
										<strong class="d-block">Malinda Hollaway</strong>
										<small class="c-gray">April 05, 2014 at 11:00</small>
									</div>

									<ul class="lv-actions p-t-10 actions">
										<li>
											<a href="" class="lvh-search-trigger">
												<i class="zmdi zmdi-edit"></i>
											</a>
										</li>
										<li>
											<a href="" class="lvh-search-trigger">
												<i class="zmdi zmdi-delete"></i>
											</a>
										</li>
									</ul>
								</div>-->
						<div class="tv-body">
							<div class="listview lv-bordered lv-lg">
								<div class="lv-item media">
									<div class="checkbox pull-left">
										<label>
											<input type="checkbox" value="" id="Islunbo" checked="checked">
											<i class="input-helper"></i>
										</label>
									</div>
									<div class="media-body">
										<div class="lv-title">是否添加宣传图</div>
									</div>
								</div>
							</div>
							<div class="pmo-pic" id="luboimg">
								<div class="p-relative">
									<a href="javascript:;">
										<img class="img-responsive" src="/static/img/headers/sm/4.png" alt="">
									</a>

									<a href="javascript:;" class="pmop-edit" data-target="#myModal" data-toggle="modal" onclick="changelunbo()">
										<i class="zmdi zmdi-camera"></i> <span class="hidden-xs">更改或上传图片</span>
									</a>
								</div>

							</div>
							<p id="artsummary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sem dolor, posuere convallis blandit sit amet, aliquet in est. Ut condimentum magna enim, </p>
							<div class="fg-line ">
								<textarea class="form-control" rows="2" placeholder="摘要" id="artsummarytextarea"></textarea>
							</div>

							<div class="clearfix">
								<button class="btn btn-success  pull-right m-t-10" data-toggle="modal" data-target="#myModal" onclick="upfile()" id="upfilebtn">上传文章图片</button>
							</div>
							<p id="arttext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sem dolor, posuere convallis blandit sit amet, aliquet in est. Ut condimentum magna enim, non venenatis elit interdum accumsan. In hac habitasse platea dictumst. Etiam molestie felis
								non mollis viverra. In ipsum lorem, fermentum vitae lectus in, accumsan malesuada neque.</p>
							<div class="fg-line ">
								<textarea class="form-control" rows="10" placeholder="内容" id="artsummaryEdit"></textarea>
							</div>
							<div class="clearfix"></div>

							<ul class="tvb-stats">
								<li class="tvbs-comments"><i class="zmdi zmdi-comment"></i><span class="no pinglun">  120</span> <span class="hidden-xs">评论</span></li>
								<li class="tvbs-likes"><i class="zmdi zmdi-thumb-up"></i><span class="no zan"> 34K</span> <span class="hidden-xs">赞</span></li>
								<!--<li class="tvbs-views"><i class="zmdi zmdi-remove-red-eye"></i><span class="no">105K</span> <span class="hidden-xs">浏览</span></li>-->
							</ul>

							<div class="clearfix">
								<button class="btn btn-primary  btn-lg pull-right" id="modifybtn">修改</button>
								<button class="btn btn-warning  btn-lg pull-right m-r-15" id="backList" style="display: none;">返回列表页</button>
							</div>
							<!--<a class="tvc-more" href="javascript:;"><i class="zmdi zmdi-mode-comment"></i> View all 290 Comments</a>-->
						</div>
						<ul class="clearfix" id="commentPage">
							<!--<button href="javascript:;" class="btn btn-danger pull-right ">1</button>-->
						</ul>
						<div class="tv-comments">
							<ul class="tvc-lists" id="commlist">

							</ul>
						</div>

						<div class="tv-comments">
							<ul class="tvc-lists">

								<li class="p-20">
									<div class="fg-line">
										<select class="accounts" style="padding:5px;position:relative;top:38px;left:0;border:solid 1px #0d8aee;width:140px;">
											<option>zhangsam000</option>
											<option>奥斯特洛夫斯基</option>
										</select>
										<textarea class="form-control auto-size" placeholder="撰写评论..." id="commentEdit" style="padding-left:150px;"></textarea>
									</div>

									<button class="m-t-15 btn btn-primary btn-sm addComment">发表</button>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

</section>

<footer id="footer">
	Copyright &copy; 2015 口袋学习

	<ul class="f-menu">
		<li><a href="">Home</a></li>
		<li><a href="">Dashboard</a></li>
		<li><a href="">Reports</a></li>
		<li><a href="">Support</a></li>
		<li><a href="">Contact</a></li>
	</ul>
</footer>

<!-- Modal -->
<div class="moduleTemp">
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">上传图片</h4>
				</div>
				<div class="modal-body">
					...
					<form name="demoForm" id="demoForm" method="post" enctype="multipart/form-data" action="http://img.kdzikao.com/picture/upload" target="id_iframe">
						<img id="preview1" width=300 height=200 src="">
						<br>
						<input type="file" name="pictureFile" accept="image/*" class="sc_btn sc_btn_file" onchange="upload(this,1)" />
						<!--<button class="btn sc_btn">选取图片文件</button>-->

						<input id="txtUserName" name="category" type="text" value="news" style="display:none;" />

						<input id="subLogin" name="subLogin" type="submit" value="提交" class="btn sc_btn btns m-t-10 m-b-10" style="width:100px;" />

						<!--提交按钮-->
					</form>

					<iframe id="id_iframe" name="id_iframe" style="">

					</iframe>
					<p>
						将上面的文字全部复制到下方输入框，
						<br />系统会自动识别图片地址</p>
					<input id="srcline" type="text" style="width:300px;" />

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary sureImg" data-dismiss="modal">确定</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="showSuccess">

</div>
<!-- Older IE warning message -->
<!--[if lt IE 9]>
            <div class="ie-warning">
                <h1 class="c-white">Warning!!</h1>
                <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
                <div class="iew-container">
                    <ul class="iew-download">
                        <li>
                            <a href="http://www.google.com/chrome/">
                                <img src="img/browsers/chrome.png" alt="">
                                <div>Chrome</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/en-US/firefox/new/">
                                <img src="img/browsers/firefox.png" alt="">
                                <div>Firefox</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.opera.com">
                                <img src="img/browsers/opera.png" alt="">
                                <div>Opera</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.apple.com/safari/">
                                <img src="img/browsers/safari.png" alt="">
                                <div>Safari</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                                <img src="img/browsers/ie.png" alt="">
                                <div>IE (New)</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <p>Sorry for the inconvenience!</p>
            </div>   
        <![endif]-->

<!-- Javascript Libraries -->
<script src="{{ url_for('static', filename='vendors/bower_components/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

<script src="{{ url_for('static', filename='vendors/bower_components/flot/jquery.flot.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/bower_components/flot/jquery.flot.resize.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/bower_components/flot.curvedlines/curvedLines.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/sparklines/jquery.sparkline.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js') }}"></script>

<script src="{{ url_for('static', filename='vendors/bower_components/moment/min/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/bower_components/fullcalendar/dist/fullcalendar.min.js') }} "></script>
<script src="{{ url_for('static', filename='vendors/bower_components/simpleWeather/jquery.simpleWeather.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/bower_components/jquery.nicescroll/jquery.nicescroll.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/bower_components/Waves/dist/waves.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/bootstrap-growl/bootstrap-growl.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js') }}"></script>

<!-- Placeholder for IE9 -->
<!--[if IE 9 ]>
        <script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
    <![endif]-->

<script src="{{ url_for('static', filename='js/flot-charts/curved-line-chart.js') }}"></script>
<script src="{{ url_for('static', filename='js/flot-charts/line-chart.js') }}"></script>
<script src="{{ url_for('static', filename='js/charts.js') }}"></script>

<script src="{{ url_for('static', filename='js/charts.js') }}"></script>
<script src="{{ url_for('static', filename='js/functions.js') }}"></script>
<script src="{{ url_for('static', filename='js/demo.js') }}"></script>
<script src="{{ url_for('static', filename='js/fun.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.datetimepicker.js') }}"></script>
<script src="{{ url_for('static', filename='js/business/newsarticle.js') }}"></script>

<script>
	if ($('.fg-line')[0]) {
		$('body').on('focus', '.form-control', function() {
			$(this).closest('.fg-line').addClass('fg-toggled');
		})
		$('body').on('blur', '.form-control', function() {
			var p = $(this).closest('.form-group');
			var i = p.find('.form-control').val();
			if (p.hasClass('fg-float')) {
				if (i.length == 0) {
					$(this).closest('.fg-line').removeClass('fg-toggled');
				}
			} else {
				$(this).closest('.fg-line').removeClass('fg-toggled');
			}
		});
	}
	$('#datetimepicker1').datetimepicker({
		lang: "ch", //语言选择中文
		showSecond: true,
		format: "Y-m-d H:m" //格式化日期
	});
	$('#datetimepicker2').datetimepicker({
		lang: "ch", //语言选择中文
		showSecond: true,
		format: "Y-m-d H:m" //格式化日期
	});

	function upload(file, type) {
		// savePhotoInfo(type);
		var MAXWIDTH = 300;
		var MAXHEIGHT = 200;
		var div = document.getElementById('photoDiv' + type);
		if (file.files && file.files[0]) {
			var img = document.getElementById('preview' + type);
			img.onload = function() {
				var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight, type);
				img.width = rect.width;
				img.height = rect.height;
				//                 img.style.marginLeft = rect.left+'px';
				img.style.marginTop = rect.top + 'px';
			}
			var reader = new FileReader();
			reader.onload = function(evt) {
				img.src = evt.target.result;
			}
			reader.readAsDataURL(file.files[0]);
		} else //兼容IE
		{
			var sFilter = 'filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
			file.select();
			var src = document.selection.createRange().text;
			var img = document.getElementById('preview' + type);
			img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
			var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight, type);
			status = ('rect:' + rect.top + ',' + rect.left + ',' + rect.width + ',' + rect.height);
			div.innerHTML = "<div id=divhead style='width:" + rect.width + "px;height:" + rect.height + "px;margin-top:" + rect.top + "px;" + sFilter + src + "\"'></div>";
		}
	}

	function clacImgZoomParam(maxWidth, maxHeight, width, height, type) {
		var param = {
			top: 0,
			left: 0,
			width: width,
			height: height
		};
		if (width > maxWidth || height > maxHeight) {
			rateWidth = width / maxWidth;
			rateHeight = height / maxHeight;
			if (rateWidth > rateHeight) {
				param.width = maxWidth;
				param.height = Math.round(height / rateWidth);
			} else {
				param.width = Math.round(width / rateHeight);
				param.height = maxHeight;
			}
		}
		param.left = Math.round((maxWidth - param.width) / 2);
		param.top = Math.round((maxHeight - param.height) / 2);
		//直接上传
		return param;
	}
	var UpType = 0;
	//		UpType=1;文章图片上传
	//		UpType=2;文章封面
	//		UpType=3;轮播图片
	function upfile() {
		UpType = 1;
	}

	function changeArtcFMfun() {
		UpType = 2;
	}

	function changelunbo() {
		UpType = 3;
	}

	function GetImgUrl(str) {
		console.log(str);
		var obj = jQuery.parseJSON(str);
		str = obj.url;
		console.log(str);
		return str;
	}
	//解析ImgURl
	function CheckImgUrl() {}
	$('.sureImg').click(function() {
		//			var imgstr = $('#srcline').val();
		var imgstr = GetImgUrl($('#srcline').val());
		var str = "";
		if (UpType == 1) {
			str = document.getElementById('artsummaryEdit').value;
			str = str + '\<\$' + imgstr + '\$\>';
			//str = str + '<img src="' + imgstr + '" width="100%" style="display:block;">';
			document.getElementById('artsummaryEdit').value = str;
			console.log(str);
			return;
		}
		if (UpType == 2) {
			$('#changeArtcFM').attr("src", imgstr);
			return;
		}
		if (UpType == 3) {
			$('#luboimg').find('img').attr("src", imgstr);
			return;
		}
	});
</script>

{% endblock %}